.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header_image {
  width: 200px;
  height: 100px;
  margin-top: 40px;
}

* {
  background-color: black;
}

.phrase {
  color: white;
}
