.cards {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding: 0;
}

.character-container {
  list-style: none;
  width: 185px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: purple;
}

.card_img {
  width: 180px;
  border: 2px solid #87fc39;
}

.card_detail {
  list-style: none;
  background-color: bisque;
  width: 185px;
}
.text-style {
  background-color: bisque;
  margin-bottom: 2px;
}
